*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

}
#id{
    height: 100px;
    width: 100px;
}
.canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height:100%;
    font-family: 'Bangers', cursive;

}
#layer_1,#layer_2,#layer_3,#layer_4
,#player,#angler1,#angler2,#lucky
,#projectile,#gears,#hivewhale
,#drone,#smoke,#fire{
    display: none;
}
